* {
    border: 1px solid red;
    font-family: 'EB Garamond', serif;

}

.heading-clr {
    color: #414040;
}

.paragraph-clr {
    color: #707070;
}

p {
    font-family: 'Poppins', sans-serif;

}

.ls-btn-bg {
    background-color: #B68C5A;
    color: #ffffff;

}

.ls-banner-main {
    background-image: url("../images/rectangle4.png");
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
}

.ls-search-box {
    padding: 1.2rem;
}

.ls-contact-img {
    height: 40px;
    width: 40px;
}

.ls-card-item:hover {
    background-color: rgba(231, 231, 231, 1);
}

.ls-banner-img-1 {
    background-image: url('../images/rectangle6.png');
    height: 65vh;
    background-size: cover;
}

.ls-banner-img-2 {
    background-image: url('../images/law-justice-concept-dark-background.jpg');
    height: 65vh;
    background-size: cover;
}

.ls-banner-img-3 {
    background-image: url('../images/judges-gavel-scale-justice-black-table.jpg');
    height: 65vh;
    background-size: cover;
}